// Regular Expression
// For text and space only not number  ^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$
// Phone Number Validator Patterb  [0-9]{2}-[0-9]{4}-[0-9]{4}
// Date Validator pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
// If any space then throw error /^\S*$/
// Valid if include number, a-z,A-Z, space /^[A-Za-z0-9 ]+$/

     
// Variables
:root {
  --black: #000000;
  --white: #ffffff;
  --cream: #f3efe9;
  --textColor: #181818;
  --red: #EE4957;
  --orange: #ff8552;
  --green: #01B262;
  --gree: #6DBC70;
  --lightGrey: #e6e6e6;
  --darkGrey: #33312e;
  --lightBlue: #25a6e7; 
}
    
// Basic universal reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px IMPORTANT

  @media(max-width: 1080px) {
    font-size: 60%;
  }
  @media(max-width: 900px) {
    font-size: 56%;
  }
  @media(max-width: 768px) {
    font-size: 50%;
  }
  @media(max-width: 600px) {
    font-size: 43%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--cream);
  color: var(--textColor);
}

.form-container { 
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;    

  &__title {
    font-weight: 600;
    margin: 1rem auto;
    text-align: center;    
    font-size: 2.5rem;
  }

  // &__progress-bar {  
  //   width: 100%;     
  //   display: flex;
  //   justify-content: space-between;
  //   position: relative;
  //   margin: 4rem 0rem;

  //   &::before {
  //     content: " ";
  //     position: absolute;
  //     top: 24%;   
  //     left: 5%;
  //     display: block;
  //     background-color: var(--green);  
  //     width: 90%;  
  //     min-height: .3rem;
  //     z-index: -1; 

  //     @media(min-width: 1500px) {   
  //       width: 95%; 
  //       left: 3%;
  //     }
  //   }
  }

  &__step {
    background-color: yellow; 
  }

  // &__step {  
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
    
  //   &--number {
  //     border: 2px solid var(--green); 
  //     padding: .5rem;      
  //     border-radius: 100px;
  //     background-color: white; 
  //     font-weight: 700;
  //     color: var(--green);
  //   }

  //   &--name {
  //     font-weight: 500;
  //     font-size: 1.5rem;  
  //     text-align: center;  
  //   }
  // }     

  // FORM SLIDER
  &__slider {   
    width: 70%;   
    padding: 2rem;   
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 

    @media(max-width: 1080px) {  
      width: 100%;     
    } 
  }

  &__slide {  
    display: none;
  }

  &__field {
    position: relative;

    &::after { 
      content: url("../icon/cancel.svg");   
      //content: url("../icon/verified.svg"); 
      width: 2rem;   
      display: none;   
      position: absolute;
      top: 50%;     
      right: 2%;    
    } 

    &::before { 
      //content: url("../icon/cancel.svg");   
      content: url("../icon/verified.svg"); 
      width: 2rem;    
      //display: block;
      display: none;  
      position: absolute; 
      top: 50%;    
      right: 12%; 
    } 
  } 

  &__input {   
    background-color: var(--lightGrey);
    border: none; 
    padding: 1rem;  
    outline: none;
    font-size: 1.6rem;
    width: 100%;
    border-radius: .5rem;
    margin-top: 2rem;
    position: relative;     

    &:valid &:parent::before{   
      //content: url("../icon/verified.svg") !important;    
      display: block;      
      //border-bottom: 2px solid var(--green) !important;   
    }   

    &:not(&:placeholder-shown) > .form__field::after{      
      display: block;        
      //border-bottom: 2px solid var(--orange);             
    }

    // &:valid {
    //   border-bottom: 2px solid var(--green) !important;  
    // } 

    // &:not(&:placeholder-shown) {
    //   border-bottom: 2px solid var(--orange);           
    // }
    
    &:placeholder-shown + .form__label {
      display: none;
    }  
  } 
   
  &__label {
    position: absolute;
    top: .5rem;
    left: 0; 
    font-size: 1.2rem;  
    font-weight: 600;   
    margin-left: 1rem;
    color: var(--lightBlue);
  } 
  &__exclude &__label {
    display: none;
  }
  &__exclude &__input:valid + &__label{ 
    display: block;   
  }

  &__grid-container3 {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 0rem 2rem;   

    @media(max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);  
    }

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 2rem;

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  //******BUTTONS******* 
  &__button-contain {
    float: right;
    margin: 3rem 0rem 2rem; 
  }

  &__btn {
    background-color: var(--orange);
    color: white;       
    border: none;
    outline: none;
    padding: .8rem 2rem;
    border-radius: .5rem;
    font-size: 2rem;      
    font-weight: 500; 
    margin-right: 3rem;  
    cursor: pointer; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 

    &:hover {
      transform: translateY(1px);
    }
  }   

} 
  

